.main-slot-icon {
  color: rgb(245, 203, 17);
}
/* .main-slot-winner-good {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(241, 45, 19);
  text-align: center;
  text-shadow: 0 5px 7px rgb(181, 240, 20);
  font-size: 5em;
  animation: 
} */
.main-slot-winner {
  display: none;
}
.main-slot-main {
  background: rgb(27, 51, 0);
  border: 20px solid rgb(71, 248, 39);
}
.main-slot-downside {
  background-color: rgb(46, 95, 3);
  height: 70vh;
  text-align: center;
  border: 20px solid rgb(71, 248, 39);
}
.main-slot-body {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  box-shadow: 0 4px 7px hsl(26, 58%, 10%);
  border: 2px solid rgb(136, 134, 10);
  max-width: 50vw;
}

@media screen and (max-width: 1060px) {
  .main-slot-body {
    min-width: 100%;
  }
}

.main-slot-iconcont {
  min-width: 100px;
  min-height: 100px;
}

.main-slot-downside {
  max-height: 700px;
  background-image: url("./img/kermit.jpeg");
  background-position: 50%;
}

.credit-text {
  color: whitesmoke;
  font-size: xx-large;
  margin-bottom: 10px;
}

.credit-display {
  background-color: whitesmoke;
  height: fit-content;
  width: fit-content;
  font-size: xx-large;
  padding-block: 0px;
  padding-inline: 10px;
}
.main-slot-title {
  background: rgb(114, 165, 64);
}

.outlier1 {
  max-height: 800px;
}

.my-body {
  background-image: url("./img/bodyKB.jpg");
}

h1 {
  font-size: 4em;
  color: rgb(11, 238, 3);
  text-shadow: 0 5px 8px rgb(30, 39, 19);
}
.btn {
  font-size: 2em;
  border: 5px solid rgb(28, 41, 7);
  background-color: greenyellow;
  color: whitesmoke;
  border-radius: 25px;
  width: 25vw;
  margin-top: 150px;
}

.main-slot-iconcont {
  border: 4px solid rgb(126, 19, 19);
  height: fit-content;
}

.master-btn {
  color: rgb(34, 68, 28);
  border-radius: 5px;
}

/* anim */

.main-slot-winner-good {
  position: relative;
}
.main-slot-winner-good span {
  position: relative;
  display: inline-block;
  font-size: 70px;
  color: rgb(240, 16, 16);
  text-shadow: 0 5px 8px rgb(245, 203, 17);
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(0.4s * (--i));
}
@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

.anim span {
  display: inline-block;
  height: 75px;
  width: 75px;
  margin: -280px 40px 54px -34px;
  background: url("./img/coinss.png");
  background-size: contain;
  animation: anim 3s infinite linear;
}
.anim span:nth-child(7h) {
  animation-delay: 2.5s;
}
.anim span:nth-child(7n-1) {
  animation-delay: 1s;
}
.anim span:nth-child(7n-2) {
  animation-delay: 3.5s;
}
.anim span:nth-child(7n-3) {
  animation-delay: 5s;
}
.anim span:nth-child(7n-4) {
  animation-delay: 1.5s;
}
.anim span:nth-child(7n-5) {
  animation-delay: 7s;
}
.anim span:nth-child(7n-6) {
  animation-delay: 9.5s;
}

@keyframes anim {
  0% {
    width: 75px;
    height: 75px;
    opacity: 1;
    transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    width: 75px;
    height: 75px;
    opacity: 1;
    transform: translate(100px, 900px) rotateZ(270deg);
  }
  100% {
    width: 75px;
    height: 75px;
    opacity: 0;
    transform: translate(150px, 900px) rotateZ(360deg);
  }
}
